{% extends "base.html" %}
{% load static %}
{% block page_content %}
<section class="page_section">
<div class="portfolio-modal modal-content">
<div class="content_section container">
   <div class="row">
       <div class="posts_block">
  <h2 class="main_color1">{{ post.title }}</h2>
    <h3>{{ post.subtitle }}</h3>
  <small>
      {{ post.created_on.date }} |
      Категории:
      {% for category in post.categories.all %}
      <a href="{% url 'blog_category' category.name %}">
          {{ category.name }}
      </a>
      {% endfor %}
  </small>
  <img src="{% static post.image1 %}" alt="Макияж в Минске. Выезд на дом." />
  <p>{{ post.title | linebreaks }}</p>
  <p>{{ post.body | linebreaks }}</p>



<h3>Оставьте комментарий:</h3>
    <form action = '/blog/{{post.pk}}/' method="post">
     {% csrf_token %}
        <div class = 'form-group'>
            {{ form.author }}
        </div>
        <div class = 'form-group'>
            {{ form.body }}
        </div>
        <button type = 'submit' class = 'btn btn-primary'>Отправить</button>
    </form>
    <h3>Комментарии</h3>
{% for comment in comments %}
    <p>
        On {{comment.created_on.date}}
        <b>{{ comment.author }}</b> оставил комментарий:
    </p>
    <p>{{ comment.body }}</p>
    <hr>
{% endfor %}
</div>
</div>
</div>
</div>
</section>
{% endblock %}
